@import "components/core/variables.scss";
@import "components/core/mixins.scss";
@import "components/core/colors.scss";

.hero-main {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: $blue;
  color: $white;
  overflow: hidden; //scrollmagic

  @include breakpointLargerThan($breakpoint--medium) {
    padding-top: 5rem;
  }
}

.hero-main a {
  color: $white;
}

.hero-main__content {
  @include breakpointLargerThan($breakpoint--medium) {
    text-align: center;
  }
}

.headline {
  text-align: center;
  position: relative;
}

.headline__heading {
  @include font-size(35px);

  color: $white;
  font-size: 16vw;
  position: relative;
  z-index: 20;
  text-align: left;
  line-height: 1;

  @include breakpointLargerThan($breakpoint--medium) {
    @include font-size(75px);
    text-align: center;
  }

  span {
    @include breakpointLargerThan($breakpoint--medium) {
      display: block;
    }
  }
  strong {
    color: $yellow;
  }
  sup {
    font-size: 50%;
  }
}

.hero-main__details {
  text-align: center;
}

.hero-main__message {
  margin: 2rem auto;
  text-align: left;
  line-height: 1.4;

  @include breakpointLargerThan($breakpoint--medium) {
    @include font-size(24px);
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }
}

.hero-main__rating {
  margin-top: 2rem;
  text-align: center;
}

.hero-main .btn-primary {
  color: $white;
  background: $green;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;

  @include breakpointLargerThan($breakpoint--medium) {
    display: inline-block;
    margin: 1rem 0;
  }
}

// testimonials

.testimonials {
  padding: 50px 0;
  color: $white;
  background: darken($blue, 10%);
}

// demaio section

.demaio {
  background: lighten($grey--light, 3%);
  padding: $base-section__padding;

  .staff-listing__portrait {
    //scrollmagic
    @include scale(0.95);
  }
}

.demaio__header {
  color: $blue;
}

.demaio__experience {
  @include font-size(18px);
  color: $grey;
  font-weight: 500;
}

//plan

.plan {
  padding: $base-section__padding;
}

.plan__header {
  color: $blue;
  text-align: center;
  margin-bottom: 2rem;
}

$steps: (#d88dec) ($green) ($hotPink);

@for $i from 1 through length($steps) {
  $stepColor: nth($steps, $i);

  .step--#{$i} {
    position: relative;
    margin: 2rem 0;
    color: $stepColor;

    @include breakpointLargerThan($breakpoint--medium) {
      margin: 8rem 0;

      .step-info:after {
        background-color: $stepColor;
      }
    }
  }
}

.step-info {
  @include breakpointLargerThan($breakpoint--medium) {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      bottom: 0;
      width: 80%;
      height: 4px;
    }
  }
}

.step-info__number {
  @include font-size(66px);
  font-weight: 900;
}

.step-info__title {
  text-transform: capitalize;
  font-weight: 700;
}

.step__image {
  width: 100%;
}

.step-info__description {
  color: $black;
}

//

.step--2 {
  @include breakpointSmallerThan($breakpoint--medium) {
    display: none;
  }

  &.mobile {
    @include breakpointSmallerThan($breakpoint--medium) {
      display: block;
    }
    @include breakpointLargerThan($breakpoint--medium) {
      display: none;
    }
  }
}

// Animation

#ani__1-1 .stars__star {
  position: relative;
  opacity: 0;
}
