@import "components/core/colors.scss";
@import "components/core/mixins.scss";
@import "components/core/animations.scss";

$nav-bars__height: 4px;
$nav-bars__width: 25px;
$nav-bars__border-radius: 1px;

.site-menu {
  @include breakpointSmallerThan($breakpoint--medium) {
    &:after {
      opacity: 0;
    }
  }
}

.site-menu nav {
  position: absolute;
  overflow-y: scroll;
  z-index: 500;
  background: $white;
  padding: 7rem 2rem;

  a {
    @include font-size(30px);
    text-align: left;

    @include breakpointLargerThan($breakpoint--medium) {
      @include font-size(20px);
      display: inline-block;
      padding: 1rem;

      &:hover { color: $green; }
    }
  }

  @include breakpointLargerThan($breakpoint--medium) {
    background: transparent;
    position: relative;
    padding: 0;
    margin-top: 1.2rem;
  }
}

.nav-slide-right {
  @include breakpointSmallerThan($breakpoint--medium) {
    @include transition(left $base-animation__speed);

    width: 90vw;
    height: 100vh;
    top: 0;
    left: -101%;
  }
}

.nav-slide-left {
  @include breakpointSmallerThan($breakpoint--medium) {
    @include transition(right $base-animation__speed);

    width: 100vw;
    height: 100vh;
    top: 0;
    right: -101%;
  }
}

.site-menu__menu, .site-menu__menu:active {
  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }
}

.site-menu__label {
  display: none;

  @include breakpointLargerThan($breakpoint--small) {
    @include font-size(14px);
    @include transition($base-animation__speed opacity ease-in);

    display: block;
    letter-spacing: 5px;
    float: right;
    color: #5D6374;
    line-height: 59px;
    padding: 0 .5rem;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 300;
  }
}

.menu-isActive {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;

  .site-menu:after {
    @include overlay($black, 0);
    @include fade(0, 0.3);
    top: 0;
    height: 100vh;
    opacity: 0.3;
  }

  .nav-slide-right {
    left: 0;
  }
  .nav-slide-left {
    right: 0;
  }

  @include breakpointLargerThan($breakpoint--small) {
    &:before {
      @include overlay($black, 0.5);

      z-index: 100;
    }

    .site-menu__label {
      opacity: 0;
    }
  }
}

//hamburger

.hamburger__bars {
  @include borderRadius($nav-bars__border-radius);

  cursor: pointer;
  height: $nav-bars__height;
  width: $nav-bars__width;
  background: $blue;
  position: absolute;
  display: block;
  content: '';
}

.site-menu__hamburger {
  cursor: pointer;
  padding: 18px 29px 21px 10px;
  z-index: 9999;
  opacity: 1;
  position: relative;
  height: 40px;
  width: 40px;
  float: left;

  span {
    @extend .hamburger__bars;
    background: transparent;
    height: 0;

    &:before, &:after {
      @include borderRadius(99px);
      @include transition(250ms all ease-in-out);
    }

    &:before {
      @extend .hamburger__bars;

      top: -6px;
    }

    &:after {
      @extend .hamburger__bars;

      bottom: -6px;
    }
  }
}

.menu:hover {
  @include breakpointLargerThan($breakpoint--small) {
    .hamburger {
      opacity: 1;
    }
  }
}

.menu-isActive {
  .site-menu__label {
    color: $black;
    opacity: 0;
    visibility: hidden;
  }

  .site-menu__hamburger {
    background: transparent;

    span {
      height: $nav-bars__height * 3;
      width: $nav-bars__width * 3;
      background-color: transparent;

      &:before, &:after {background: $black}

      &:before {
        @include rotate(225);
        top: 0;
        height: $nav-bars__height * 1.25;
        width: $nav-bars__width * 1.25;
      }

      &:after {
        @include rotate(315);
        top: 0;
        height: $nav-bars__height * 1.25;
        width: $nav-bars__width * 1.25;
      }
    }
  }
}
