@import "components/core/mixins.scss";
@import "components/core/colors.scss";
@import "components/core/variables.scss";

///////////////////////////////
/// ANIMATION HELPERS
///////////////////////////////

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

@include keyframes(hamburger-top-in) {
  0% {
    @include rotate(0);
    top: -6px;
  }
  50% {
    @include rotate(0);
    top: 0;
  }
  100% {
    @include rotate(45);
    top: 0;
  }
}

@include keyframes(hamburger-top-out) {
  0% {
    @include rotate(45);
    top: 0;
  }
  50% {
    @include rotate(0);
    top: 0;
  }
  100% {
    @include rotate(0);
    top: -6px;
  }
}

@include keyframes(hamburger-bottom-in) {
  0% {
    @include rotate(0);
    bottom: -6px;
  }
  50% {
    @include rotate(0);
    bottom: 0;
  }
  100% {
    @include rotate(-45);
    bottom: 0;
  }
}

@include keyframes(hamburger-bottom-out) {
  0% {
    @include rotate(-45);
    bottom: 0;
  }
  50% {
    @include rotate(0);
    bottom: 0;
  }
  100% {
    @include rotate(0);
    bottom: -6px;
  }
}

@mixin slide($startVal, $endVal) {
  @include animation('slide 0.5s 1');

  @include keyframes(slide) {
    0% { height: $startVal; }
    100% { height: $endVal; }
  }
}

@mixin fade($startVal, $endVal) {
  @include animation('fade 0.5s 1');

  @include keyframes(fade) {
    0% { opacity: $startVal; }
    100% { opacity: $endVal; }
  }
}

@mixin hamburger-rotate-top() {
  @include keyframes(hamburger-top) {
    0% {
      @include rotate(0);
      top: -6px;
    }
    50% {
      @include rotate(0);
      top: 0;
    }
    100% {
      @include rotate(45);
      top: 0;
    }
  }
}

@mixin hamburger-rotate-bottom() {
  @include keyframes(hamburger-bottom) {
    0% {
      @include rotate(0);
      bottom: -6px;
    }
    50% {
      @include rotate(0);
      bottom: 0;
    }
    100% {
      @include rotate(-45);
      bottom: 0;
    }
  }
}

///////////////////////////////
/// TRANSITIONS
///////////////////////////////


@mixin transition($transition, $transition2:"") {
  @if($transition2 != "") {
    transition: $transition, $transition2;
    -moz-transition: $transition, $transition2;
    -webkit-transition: $transition, $transition2;
  } @else {
    transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
  }

}
