$white: #ffffff;
$green: #89c87c;
$black: #2a2a2a;
$grey: #99a3af;
$grey--light: lighten($grey, 30%);
$blue: #4a90e2;
$red: #f45653;
$aqua: #3ce5c2;
$yellow: #f2ea57;
$pink: #DCBEFA;
$hotPink: #e6579b;
$orange: #ff7733;
$purple: #7680d2;

$colors: (green: $green, blue: $blue, purple: $purple, pink: $pink, hotPink: $hotPink, white: $white);
