@import "components/core/mixins.scss";
@import "components/core/colors.scss";

///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 970px;
$breakpoint--xlarge: 1200px;

///////////////////////////////
/// BEDROCK OVERRIDES
///////////////////////////////
$container-width-xl: 960px !default;

///////////////////////////////
/// BASE
///////////////////////////////

$base-font__family--primary: 'Roboto', sans-serif;
$base-font__family--secondary: 'Raleway', sans-serif;
$base-font__size: 18px;
$base-line-height: 1.5;
$base-section__padding: 100px 0;
$base-box-shadow: 0 0 20px rgba(20,43,82,0.1);

///////////////////////////////
/// PATHS
///////////////////////////////
$img-path: '../img/';

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

$base-animation__speed: 200ms;
