@import "components/core/variables.scss";
@import "components/core/mixins.scss";
@import "components/core/colors.scss";

input, textarea, select, button {
  border: none;
}

.contact-form__header {
  margin-bottom: 2rem;
}

.contact-form__heading {
  text-transform: capitalize;
  margin-bottom: .5rem;
}

.contact-form__info {
  max-width: 400px;
  line-height: 1.2;
}

.contact-form__form {
  color: $black;

  input, textarea, button {
    @include borderRadius( px);
    padding: 1rem;
    margin: 1rem 0;
    display: block;
    width: 100%;

    &::placeholder {
      text-transform: capitalize;
    }
  }
}

.contact-form__button {
  $color: lighten($blue, 50%);

  @include borderRadius(999px);
  width: 100%;
  color: $white;
  background: $green;

  &.isDisabled {
    $color: lighten($blue, 20%);

    color: $color;
    width: 100%;
    background: none;
    border: 2px solid $color;
    opacity: 0.4;
  }
}
