@import "components/core/mixins.scss";
@import "components/core/animations.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.plan-tabs__nav {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0;
}

.plan-tabs__nav-item {
  @include transition($base-animation__speed color ease-in);
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  font-weight: 700;

  svg path {
    @include transition($base-animation__speed fill ease-in);
    fill: $purple;
  }
}

// react-tabs

.react-tabs__tab--selected {
  color: $green;

  svg path {
    fill: $green;
  }
}
