@import "components/core/variables.scss";
@import "components/core/mixins.scss";
@import "components/core/colors.scss";

.service {
  padding: $base-section__padding;
}

.service__heading {
  text-transform: capitalize;
}

.pain {
  padding: $base-section__padding;
}

@each $slug, $color in $colors {
  .service {
    &.#{$slug} {
      @if ($color == $white) {
        color: $black;
      } @else {
        color: $white;
      }

      background: $color;
    }
  }
}

.service__list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    text-transform: capitalize;
    margin: 10px 0;
  }
}
