@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

// testimonials

.testimonials {
  padding: 50px 0;
  color: $white;
  background: darken($blue, 10%);
}

.testimonials a {
  color: $white;
}
