@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.staff-listing {
  padding: 2rem 0;
}

.staff-listing__name {
  text-transform: capitalize;
  color: $black;
}

.staff-listing__position {
  @include font-size(18px);
  color: $grey;
  font-weight: 500;
  text-transform: capitalize;
}

.staff-listing__portrait {
  text-align: center;
}

.staff-listing__header {
  text-align: center;
  margin-top: 2rem;

  @include breakpointLargerThan($breakpoint--medium) {
    text-align: inherit;
  }
}
