@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.appointment-page {
  padding-bottom: 100px;

  input, textarea {
    @include borderRadius(2px);
    border: 1px solid $grey--light;
  }
}

.disclaimer {
  @include font-size(14px);
  opacity: 0.6;
}
