@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

@each $class, $color in $colors {
  .feature-story {
    &.#{$class} {
      color: $color;

      .img__caption {
        background: $color;
      }
    }
  }
}

.feature-story {
  margin-bottom: 8rem;
}

.feature-story p {
  color: $black;
}

.feature-story__list {
  color: $black;
  margin: 0;
  padding: 0;
}
