@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.img-round__container {
  @include borderRadius(999px);
  overflow: hidden;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0 auto;
}
