@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.utility {
  text-align: right;
  float: right;

  @include breakpointLargerThan($breakpoint--medium) {
    display: block;
    float: none;
  }
}

.utility__link {
  display: inline-block;
  text-decoration: underline;
  color: $blue;
  padding: 0 4px;

  &:hover {
    color: $green;
  }

  @include breakpointLargerThan($breakpoint--medium) {
    padding: 0 1.5rem;
  }

  svg {
    path {
      fill: $blue
    }

    display: block;
    height: 40px;
    @include breakpointLargerThan($breakpoint--medium) {
      display: none;
    }
  }

  span {
    display: none;
    @include breakpointLargerThan($breakpoint--medium) {
      display: inline-block;
    }
  }
}
