@import "components/core/variables.scss";
@import "components/core/mixins.scss";
@import "components/core/colors.scss";

.contact {
  background: $blue;
  color: $white;
  padding: $base-section__padding;
}

.contact__ratings {
  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }

  a {
    color: $white;
    padding: 1rem;
    text-align: center;
    display: block;
  }
}
