@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.site-header {
  @include cf();
  @include boxShadow($base-box-shadow);
  width: 100%;
  position: relative;
  height: 90px;
  padding: 1rem;

  @include breakpointLargerThan($breakpoint--medium) {
    @include boxShadow('none');
    height: auto;
    padding: 1rem 3rem;
  }
}

.site-header__nav {
  margin-top: 10px;

  @include breakpointLargerThan($breakpoint--medium) {
    float: right;
    margin: 0;
  }
}

.site-header__logo {
  @include centerVertical();
  width: 120px;
  position: absolute;
  @include breakpointLargerThan($breakpoint--medium) {
    width: 200px;
    position: relative;
    left: 0;
    transform: none;
    display: inline-block;
  }
}

.site-header__phone {
  float: right;
  line-height: 50px;

  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }
}
