@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.footer {
  padding: 2rem 0;
  background: $blue;
  text-align: center;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;

  }
}

.footer nav  {
  margin: 1rem 0;
  text-align: center;

  a {
    @include font-size(18px);
    padding: .5rem;

    @include breakpointLargerThan($breakpoint--medium) {
      @include font-size(15px);
      display: inline-block;
      padding: 1rem;

      &:hover { color: $green; }
    }
  }

}
