@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.testimonial {
  text-align: left;
  padding-left: 40px;

  .testimonial__message {
    $w: 40px;

    position: relative;
    display: block;
    line-height: 1.4;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: - + ($w + 10);
      top: 0;
      width: $w;
      height: 35px;
      background-image: url('./quotes.svg');
      background-repeat: no-repeat;
      z-index: 10;
    }
  }

  .testimonial__author {
    @include font-size(16px);
    display: block;
    text-transform: capitalize;
    opacity: 0.6;

    &:before {
      content: "- ";
    }
  }
}
