@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.btn-primary {
  @include borderRadius(99px);
  font-weight: 700;
  color: $blue;
  padding: 1rem 2rem;
  border: 2px solid $blue;
  text-transform: capitalize;
  display: inline-block;
  margin: 1rem 0;

  &:hover {
    $hoverColor: darken($blue, 15%);
    color: $hoverColor;
    border-color: $hoverColor;
  }
}
