@import "components/core/mixins.scss";
@import "components/core/variables.scss";
@import "components/core/colors.scss";

.img__img {
  display: block;
}

.img__caption {
  color: $white;
  padding: 1rem 2rem;
  display: inline-block;
}
