@import "components/core/colors.scss";
@import "components/core/mixins.scss";
@import "components/core/animations.scss";

.site-nav__link {
  @include transition(.25s color ease-in, .25s opacity ease-in);

  font-weight: 500;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
  padding: 1rem 0;

  &.is-active { color: $green; }
}
