@import "components/core/variables.scss";
@import "components/core/mixins.scss";
@import "components/core/colors.scss";

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @include font-size(18px);
  // create react app adds a reset.. override for now
  font-family: $base-font__family--primary !important;
}

h1 {
  @include font-size(48px);
  font-family: $base-font__family--primary;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  @include font-size(36px);
  font-family: $base-font__family--primary;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

h3 {
  @include font-size(24px);
  font-family: $base-font__family--primary;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h4 {
  @include font-size(18px);
  font-family: $base-font__family--primary;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

p {
  @include font-size($base-font__size);
}

a {
  color: $blue;

  &:active {
    // bedrock override
    top: auto;
  }
}

img {
  max-width: 100%;
}

.tpl-default {
  article {
    section {
      margin: 40px 0;
    }

    .two-col {
      display: flex;
      flex-wrap: wrap-reverse;

      @include breakpointLargerThan($breakpoint--medium) {
        flex-wrap: nowrap;
      }
    }

    img {
      width: 200px;
      align-self: start;
      @include breakpointLargerThan($breakpoint--medium) {
        margin-right: 20px;
      }
    }
  }
}

.tpl-default__header {
  padding: 2rem;
  background: $blue;
  color: $white;
}

.tpl-default__page-title {
  text-transform: capitalize;
}

.tpl-default__content {
  padding-top: 5rem;
}
